.nav_bar{
    height: 50px;
    background-color: darkcyan;
}

.nav_list{
    list-style-type: none;
}

.nav_item{
    color: white;
    display: inline-block;
    padding: 10px;
}

.nav_item:hover{
    color: orange;
    cursor: pointer;
}

.nav_item:active{
    font-weight: bold;
}